body {
  background-color: #F8DDA4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* header -------------------------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.LogIn {
  /* float: right; */
  margin: auto 3vw 0 auto;
}
.loginSubmit, .logoutButton {
  background-color: #F9A03F;
  padding: 5px 10px;
  border-radius: 12px;
  color:#813405;
  font-weight: bold;
}
input {
  border: 2px #D45113;;
  border-radius: 12px;
  padding: 7px;
  background-color: #faf3e4;
}
::placeholder{
  color: #813405;
}
.inactive {
  display: none;
}
/* menu ---------------------------------------------------------------------------------*/
.menu {
  height: 8vh;
  margin: 3px;
  display: flex;
  /* align-content: center; */
  justify-content: space-around;
}
.menu > a {
  background-color: #F9A03F;
  padding: 1em 1.5em;
  margin:10px;
  border-radius: 12px;
  color:#813405;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  width: 47vw;
  text-decoration: none;

}
/* footer-------------------------------------------------------------------------------- */
.footer {
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #F9A03F;
}
.footer > .Kontakt {
  padding: 20px;
  margin: 2px;
}
.footer > .Kontakt > p {
  padding: 0px;
  margin: 2px;
}

/* inputs sites -------------------------------------------------------------------------*/
label {
  padding:5px;
  margin: 5px;
}
button {
  background-color: #F9A03F;
  padding: 5px 10px;
  margin:10px;
  border-radius: 12px;
  color:#813405;
  font-weight: bold;
  width: 250px;
}
.adminOption {
  float:left;
  width: 100px;
  height: 20px;
  background-color: #F9A03F;
  border-radius: 12px;
  margin: 3px;
  display: block;
  text-decoration: none;
  color: #813405;
  padding: 0 5px;
  text-align: center;
}
/* courses list---------------------------------------------------------------------------- */
.coursesNames {
  margin: 5px;
  padding: 5px;
  color: #813405;
  font-weight: 600;
  border-bottom: 1px solid #813405;
}
.coursesDetails {
  margin: 7px;
}
/* instructors list ----------------------------------------------------------------------- */
.instructorsNames {
  margin: 5px;
  padding: 5px;
  color: #813405;
  font-weight: 600;
  border-top: 1px solid #813405;
}
.instructorsDances {
  color: #813405;
  padding: 5px 5px 5px 20px;
  margin: 5px;
}
 /* other lists----------------------------------------------------------------------------- */
 .oneElement{
   margin: 10px;
   border-bottom: 1px solid #813405;
 }
 .someDetails {
   padding: 5px;
   margin: 5px;
 }
 .modifyElement, .deleteElement {
  width: 100px;
  height: 22px;
  background-color: #F9A03F;
  border-radius: 12px;
  margin: 3px;
  display: block;
  text-decoration: none;
  color: #813405;
  padding: 0 5px;
  text-align: center;
}
/* participant panel----------------------------------------------------------- */
.courseName {
  margin: 5px;
  padding: 5px;
  color: #813405;
  font-weight: 600;
}
.coursesDetails {
  margin: 7px;
}